<% if current_admin? %>
  <%= link_to 'Generate Another Gif', new_admin_gif_path %></br></br>
  <div class="gif-container">
    <% @categories.ordered.each do |category| %>
      <% category.gifs.each do |gif| %>
      <%= gif.category.name %>
      <img src=<%= gif.image_path %>>
      <% end %>
    <% end %>
  </div>
<% else %>
<%= link_to 'Go to My Gifs', user_path(current_user) %>
<div class="gif-container">
  <div class='gif-total'><% @categories.ordered.each do |category| %>
    <% category.gifs.each do |gif| %></br>
    <section>
      <%= form_tag user_favorites_path(current_user) do %>
        <%= hidden_field_tag 'gif', gif.id %>
        <%= submit_tag 'Add to Favorites', class: 'gif-id'%>
      <% end %>
      <h4><%= gif.category.name %></h4></br>
      <img src=<%= gif.image_path %>></br></br></br></br>
    </section>
    <% end %>
  <% end %>
  </div>
</div>
<% end %>
