<nav>
  <p><%= link_to "Home", root_path, class: 'nav-links' %></p>
  <p><%= link_to "Get to the Gifs!", gifs_path, class: 'nav-links' %></p>
  <p><%= link_to "Sign Up", new_user_path, class: 'nav-links' %></p>
  <p><%= link_to "Login", login_path, class: 'nav-links' %></p>
  <p><%= link_to "Logout", root_path, class: 'nav-links' %></p>
</nav>
<hr>
