
<div class="home-show">
<h1 class='welcome-box'>Welcome, <%= current_user.username %>!</h1>
  <% if current_user.admin? %>
    <%= link_to 'Generate Gif', new_admin_gif_path %>
  <% end %>
</div>
<div class="gif-container">
  <div class='gif-total'><% @gifs.each do |gif| %>
    <section>
      <p class='category-name'><%= gif.category.name %></p></br>
      <%= button_to 'Remove From Favorites', user_favorite_path(current_user, gif_id: gif.id), method: 'delete' %>
      <img src=<%= gif.image_path %>></br></br></br></br>
    </section>
  <% end %>
  </div>
</div>
